.control-box{
    border-radius: 20px;
    background-color: #fff;
    width: 250px;
    height: 300px;
    background: linear-gradient(150deg,  rgb(255, 0, 255),rgb(0, 191, 255));
    box-shadow: 0 0 10px black;
    margin: 70px calc((100% - 250px)/2); 
    
}

.control-box h1{
    color: #fff;
    text-align: center;
    padding: 10px 10px 20px;
    font-size: 30px;
}
.control-box >div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.control-box div div{
    display: flex;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    height: 60px;
    width: 120px;
    align-items: center;
    justify-content: center;    
    font-size: 22px;
    text-align: center;
}

.control-box a :hover{
    outline: 1px white solid;
    box-shadow: 0 0 5px white;
}