.sche_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;

}.sche_filter >input{
    width: 8%;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}
.sche_filter >select{
    width: 8%;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

.sche_filter >label{
    color: white;
    font-size: 20px;
    text-shadow: 0 0 2px black;
}

h1.Ref_sche{
    text-align: center;
    color: white;
    font-size: 40px;
}


.tableView td:nth-child(4),
.tableView th:nth-child(4) {
   display: none; 
}